<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <title>News App | ishandeveloper</title>
</head>

<body>
    <main>
        <header>

            <a class="logo" href="/">iDevNews</a>
            <form action="/search" method="GET">
                <input autofocus class="search-input" value="{{ .SearchKey }}" placeholder="Search for any news topic"
                    type="search" name="q">
            </form>
            <a href="https://github.com/ishandeveloper/News-App-Go" class="button
            github-button">View on Github</a>


        </header>

        <section class="container">
            <div class="result-count">
                {{ if (gt .Results.TotalResults 0)}}
                  <p>About <strong>{{ .Results.TotalResults }}</strong> results were found. You are on page <strong>{{ .CurrentPage }}</strong> of <strong> {{ .TotalPages }}</strong>.</p>
                {{ else if and (ne .SearchKey " ") (eq .Results.TotalResults 0) }}
                  <p>No results found for your query: <strong>{{ .SearchKey }}</strong>.</p>
                {{ end }}
              </div>
            <ul class="search-results">
                {{ range .Results.Articles }}
                <li class="news-article">
                    <div>
                        <a target="_blank" rel="noreferrer noopener" href="{{.URL}}">
                            <h3 class="title">{{.Title }}</h3>
                        </a>
                        <p class="description">{{ .Description }}</p>
                        <div class="metadata">
                            <p class="source">{{ .Source.Name }}</p>
                        </div>
                    </div>
                    <img class="article-image" src="{{ .URLToImage }}">
                </li>
                {{ end }}
            </ul>
            <div class="pagination">
                {{ if (gt .NextPage 2) }}
                <a href="/search?q={{ .SearchKey }}&page={{ .PreviousPage }}" class="button previous-page">Previous</a>
                {{ end }}
                {{ if (ne .IsLastPage true) }}
                <a href="/search?q={{ .SearchKey }}&page={{ .NextPage }}" class="button next-page">Next</a>
                {{ end }}
            </div>
        </section>
        <div class="footer">
            Made with <font color="red">♥</font> by <a target="_blank" href="https://github.com/ishandeveloper">ishandeveloper </a>
        </div>
    </main>
</body>

</html>
